DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cs_stonks?schema=public&pgbouncer=true"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cs_stonks_shadow?schema=public"
PRICE_PROVIDER="json"
REAL_PROVIDER_BASE_URL="https://steamcommunity.com/market/"
REAL_PROVIDER_APP_ID="730"
REAL_PROVIDER_COUNTRY="US"
REAL_PROVIDER_CURRENCY_CODE="1"
REAL_PROVIDER_TIMEOUT_MS="5000"
REAL_PROVIDER_RETRY_COUNT="1"
REAL_PROVIDER_CONCURRENCY="4"
REAL_PROVIDER_MAX_ITEMS="25"
ENABLE_INTERNAL_CRON="false"
CATALOG_CRON="0 3 * * *"
LATEST_PRICES_CRON="0 * * * *"
DAILY_SNAPSHOT_CRON="5 2 * * *"
SNAPSHOT_TIMEZONE="Europe/Paris"
SNAPSHOT_HOUR="02:05"
