DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cs_stonks?schema=public"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cs_stonks_shadow?schema=public"
CATALOG_PROVIDER="bymykel"
BYMYKEL_API_BASE_URL="https://raw.githubusercontent.com/ByMykel/CSGO-API/main/public/api"
BYMYKEL_API_LOCALE="en"
PRICE_PROVIDER="skinport"
SKINPORT_BASE_URL="https://api.skinport.com/v1"
SKINPORT_APP_ID="730"
SKINPORT_CURRENCY="USD"
SKINPORT_CHUNK_SIZE="100"
SKINPORT_FETCH_SALES_HISTORY="true"
SKINPORT_FETCH_ALL_SALES_HISTORY="true"
SKINPORT_REQUEST_TIMEOUT_MS="30000"
SKINPORT_TRADABLE_ONLY="false"
SKINPORT_DAILY_INGESTION_CRON="30 1 * * *"
REAL_PROVIDER_BASE_URL="https://steamcommunity.com/market/"
REAL_PROVIDER_APP_ID="730"
REAL_PROVIDER_COUNTRY="US"
REAL_PROVIDER_CURRENCY_CODE="1"
REAL_PROVIDER_TIMEOUT_MS="5000"
REAL_PROVIDER_RETRY_COUNT="1"
REAL_PROVIDER_CONCURRENCY="4"
REAL_PROVIDER_MAX_ITEMS="25"
ENABLE_INTERNAL_CRON="false"
CATALOG_CRON="0 3 * * *"
DAILY_SNAPSHOT_CRON="5 2 * * *"
SNAPSHOT_TIMEZONE="Europe/Paris"
SNAPSHOT_HOUR="02:05"
